/* GE2 - NATHALIA TUIA XAVIER */
/* VARIAVEIS */
/* Cores */
/*Media queries breakpoints*/
/* COMPONENTS */
/* dropdown-inverse */
.dropdown-inverse {
  background-color: #222;
  border-color: #080808;
}
.dropdown-inverse > li > a {
  color: #999;
}
.dropdown-inverse > li > a:hover {
  color: #fff;
  background-color: #000;
}
.dropdown-inverse > .divider {
  background-color: #000;
}

/* vertical divider */
.divider-vertical {
  display: block;
  float: left;
  font-size: 32px;
}

/* STYLES */
html, body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

#navigation {
  background-color: #222222;
  background-color: rgba(34, 34, 34, 0.75);
  height: 70px;
}
#navigation .notifications .dropdown-toggle, #navigation .messages .dropdown-toggle {
  padding: 22px 20px;
}
#navigation .notifications .dropdown-toggle .glyphicon, #navigation .messages .dropdown-toggle .glyphicon {
  font-size: 20px;
}
#navigation .dropdown-toggle {
  padding: 8px 25px 8px 15px;
}
#navigation .dropdown-toggle strong {
  display: block;
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
}
#navigation .dropdown-toggle small {
  text-transform: uppercase;
  font-size: 10px;
}
#navigation .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 7px;
}
#navigation .divider-vertical {
  padding: 12px 8px;
}
#navigation .search-form {
  padding: 8px;
  margin-right: -32px;
}
#navigation .search-form .form-control, #navigation .search-form button {
  background-color: transparent;
  color: #FFFFFF;
}
#navigation .search-form .form-control {
  font-style: italic;
  border-bottom: 1px solid #999999;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  padding: 6px 32px 6px 12px;
  /*@include box-shadow(0,0,0);
  @include border-radius(0px);*/
}
#navigation .search-form button {
  position: relative;
  left: -40px;
}

#content.map-bg {
  background: url(../img/map-bg.png);
  height: 100%;
}
