/* GE2 - NATHALIA TUIA XAVIER */

/************** VARIABLES **************/

	/* THEME COLORS */
	$background-color: #FFFFFF;
	$brand-yellow: #ECC200;
	$brand-green: #689179;
	
	$lightbox-color: #F8f8f8;
	$light-border: #f0f0f0;
	
	/* VALIDATION COLORS */
	$error-color: #a94442;
	$success-color: #3C763D;
	$warning-color: #8a6d3b;
	$info-color: #5bc0de;

	/* STATUS COLORS */
	$default: #999999;
	$pendente: #666666;
	$designado: #238C00;
	$acionado: #00B2B2;	
	$em-execucao: #FF7F00;
	$finalizado: #FF2626;

	/* TEXT COLORS */
	$dark-text: #333333;
	$default-text: #666666;
	$light-text: #999999;
	$lighter-text: #BBBBBB;
	$inverse-text: #FFFFFF;

	/* FONT-SIZES */
	$label-size: 11px;
	$default-text-size: 14px;
	$paragraph-size: 16px;


	/*RESPONSIVENESS*/
	$screen-lg-min: 1024px;
	@media (max-width: 1024px) {
	    .container, .container-fluid {width: 970px;}
	}

	/* BRAND COLOR */
	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		background: $brand-green;
	}
	a, .btn-link { color: $brand-green; }
	a:hover, a:focus {color: darken($brand-green, 20%);}
	.btn-primary { 
		background: $brand-green;
		border-color: darken($brand-green, 10%);
	}
	.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
		background: darken($brand-green, 5%);
		border-color: darken($brand-green, 10%);
	}
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
		background: $brand-green;		
	}


/************** FONTS **************/

	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(../fonts/RobotoCondensed-Light-webfont.woff) format('woff');
	}
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/RobotoCondensed-Regular-webfont.woff) format('woff');
	}
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 700;
	  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../RobotoCondensed-Bold-webfont.woff) format('woff');
	}
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: italic;
	  font-weight: 300;
	  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(../fonts/RobotoCondensed-LightItalic-webfont.woff) format('woff');
	}
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: italic;
	  font-weight: 400;
	  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(../fonts/RobotoCondensed-Italic-webfont.woff) format('woff');
	}
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: italic;
	  font-weight: 700;
	  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(RobotoCondensed-BoldItalic-webfont.woff) format('woff');
	}



/************** HELPERS **************/
	.text-center {text-align: center;}

	.expandable-container .hidden-item, .nav > li.hidden-item, .hidden-item, .help-content, .filter-content, .filter-alert {display: none;}

	.auto {overflow: auto;}

	.disabled {
		background: inherit !important;
		color: inherit !important;
		cursor: not-allowed !important;
		&:hover {
			background: inherit !important;
			color: inherit !important;
		}
	}
	.panel {
		&.panel-sm {
			margin-bottom: 10px;
			.panel-body {background-color: #F5F5F5}
			.panel-heading {padding: 6px 12px}
		}
	}
	small.id {
		color: #999999;
		padding: 2px 5px;
		a {
			color: #999999
		}
	}



/************** TYPOGRAPHY **************/

	/*titles*/
	h1 {font-size: 26px}
	h2 {font-size: 24px}
	h3 {font-size: 22px}
	h4 {font-size: 20px}

	.unity, .muted {color: $lighter-text;}
	.block {display: block;}

	.text-pendente {color: $pendente}
	.text-designado {color: $designado}
	.text-acionado {color: $acionado}
	.text-em-execucao {color: $em-execucao}
	.text-finalizado {color: $finalizado}
	.text-default {color: $default}
	.text-inverse {color: $inverse-text}

	*, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
		&.bg-pendente {color:#FFFFFF;color: rgba(255,255,255,.9);background: $pendente}
		&.bg-designado {color:#FFFFFF;color: rgba(255,255,255,.9);background: $designado}
		&.bg-acionado {color:#FFFFFF;color: rgba(255,255,255,.9);background: $acionado}
		&.bg-em-execucao {color:#FFFFFF;color: rgba(255,255,255,.9);background: $em-execucao}
		&.bg-finalizado {color:#FFFFFF;color: rgba(255,255,255,.9);background: $finalizado}
		&.bg-default {color:#FFFFFF;color: rgba(255,255,255,.9);background: $default}
	}

	a {
		&.bg-pendente, &.bg-designado, &.bg-acionado, &.bg-em-execucao, &.bg-finalizado {color: #FFFFFF; color: rgba(255,255,255,.8) !important}
		&:hover {
			&.bg-pendente, &.bg-designado, &.bg-acionado, &.bg-em-execucao, &.bg-finalizado {color: #FFFFFF; color: rgba(255,255,255,1) !important}
			&.bg-pendente {background: darken($pendente, 5%) !important}
			&.bg-designado {background: darken($designado, 5%) !important}
			&.bg-acionado {background: darken($acionado, 5%) !important}
			&.bg-em-execucao {background: darken($em-execucao, 5%) !important}
			&.bg-finalizado {background: darken($finalizado, 10%) !important}
			&.bg-default {background: darken($default, 5%) !important}
		}
	}

	/* labels */
	label, dt, th, .form-group-title{
		color: $light-text;
		font-weight: 300;
		font-size: 11px;
		font-size: $label-size;		
	}
	label, dt, .form-group-title {
		text-transform: uppercase;
		font-weight: 400;
	}
	label{
		&.btn {text-transform: none;}
	}	
	.form-group-title {
		margin: 10px 0;
		text-indent: 10px;
	}
	.checkbox label, .radio label {text-transform: none; color: $default-text; font-size: 14px}
	.label .close-label {
		color: #ccc;
		font-weight: bold;
		margin-left: 5px;
		font-size: 1.2em;
		&:hover { color: #FFFFFF;}
	}

	/* bootstrap validation */
	.has-error label {color: $error-color}
	.has-success label {color: $success-color}
	.has-warning label {color: $warning-color}

	/* description list */
	dl {
		margin: 10px 0 15px;
		dt {
			line-height: 1.1em;
			margin-bottom: 3px;
		}
		dd {
			color: $default-text;
			line-height: 1.2em;
		}
		/* small description list */
		&.dl-sm {
			margin-top: 0;
			border-bottom: 1px solid #f5f5f5;
			dt, dd {
				border-top: 1px solid #f5f5f5;
				margin-top: 0;
				padding-top: 7px;
				&:first-child, &:nth-child(2) {
					border-top: none;
					margin-top: 0;
				}
			}
			dt {width: 70px}
			dd {
				margin-left: 70px;
				margin-bottom: 5px;
				padding-left: 10px;
			}
		}
	}


/************** COMPONENTS **************/

	/* ALERTS */
	.alert.alert-small {
		margin-bottom: 10px;
		padding: 5px 10px;
	}
	.bb-alert {
	    position: fixed;
	    bottom: 5%;
	    left: 2%;
	    margin-bottom: 0;
	    font-size: 1.2em;
	    padding: 1em 1.3em;
	    z-index: 2000;
	}

	/* BUTTONS */
	.btn.disabled:hover { cursor: not-allowed !important}
	.bookmark-button {
		color: $dark-text;
		&:hover {color: darken($dark-text, 10%) !important}
	}
	.btn-link {
		&:hover {
			background-color: darken( #FFFFFF, 5% );
		}
	}
	.btn-inverse {
		background-color: #222;
		border-color: #080808;
		color: #999;

		&:hover{
			color: #fff;
			background-color: #000;
		}
		&:active, &:focus,{
			color: #fff;
			background-color: #000;
		}
		&>.divider {
			background-color: #000;
		}
	}
	.alarm-pda-container {
		.alarm-btn, .pda-btn {
			content: ' ';
			padding: 0;
		}
		.alarm-btn {
			background: url('../img/icons/alarme-icon.png') no-repeat top left;
			width: 27px;
			height: 25px;
			&.active {background-position: bottom left;}		
		}
		.pda-btn {
			background: url('../img/icons/pda-icon.png') no-repeat top left;
			width: 14px;
			height: 24px;	
			&.active {background-position: bottom left;}				
		}
	}
	/* show on hover buttons */
	.hover-buttons-container {
		position: relative;
		.hover-buttons {
			display: none;
			position: absolute;
			top: 5px;
			right: 5px;
			.dropdown {
				display: inline-block;
			}
		}
		&:hover {
			.hover-buttons {
				display: block !important;
			}
		}
		&.editing-field	{
			&:hover {
				.hover-buttons {
					display: none !important;
				}
			}
		}
	}
	/* inside tables */
	tr:hover > .hover-buttons-container .innerWrapper .hover-buttons {
		display: block;
	}
	/* button groups */
	.btn-group-justified {
		.btn {
			white-space: normal;
			line-height: 1.1em;
		}
	}
	/*toggle icon-buttons*/
	.toggle-icon-btn {
		.fa {
			&:first-child {display: inline;}
			&:last-child {display: none;}
		}
	}


	/* NAV-TABS */
	.research-container.well div[role="tabpanel"] .tab-content {padding-top: 40px;}
	.well {
		position: relative;
		div[role="tabpanel"], &[role="tabpanel"], &.multiple-tabs {
			.nav.nav-tabs {
				&.nav-justified {
					margin: -20px -19px 20px;
					position: absolute;
				}
			}
			.tab-content {padding-top: 15px;}
		}
		&[role="tabpanel"], &.multiple-tabs { .tab-content{ padding-top: 40px; } }
		.nav-tabs {
			& > li {
				background: #eeeeee;
				& > a:hover {
					background: #e5e5e5;
				}
				&.active > a {
					background: #f5f5f5;
					border-bottom: 1px solid #f5f5f5;
					&:hover {
						border-bottom: 1px solid #f5f5f5;
					}
				}
			}
		}
	}
	/* condensed nav-tabs*/
	.nav.nav-tabs.nav-condensed {
		li {
			& > a {
				padding: 5px 10px;
			}
		}
	}


	/* DROPDOWNS */
	.dropdown {
		&.has-title {
			li > a {
				text-indent: 20px;
			}
		}
	}
	.nav-tabs > .dropdown-menu {
		border: none;
		padding: 0;
		min-width: 0;
		@include box-shadow(0,0,0);
		&.open > a {
			border: none;
		}
	}
	.dropdown-header {
		text-transform: uppercase;
	}
	/* dropdown-inverse */
	.dropdown-inverse, .dropdown-inverse .nav-pills {
		background-color: #222;
		border-color: #080808;
		&>li {
			&.divider {
				background: #000000;
			}
			&>a{
				color: #999;

				&:hover{
					color: #fff;
					background-color: #000;
				}
				&:active, &:focus{
					color: #fff;
					background-color: #000;
				}
				&>.divider {
					background-color: #000;
				}
			}
			&.active a{
				background: #555;
			}
		}
	}
	.dropdown-menu {
		.nav.nav-pills {
			margin-bottom: 10px;
			&> li > a {
				padding: 3px 10px;
				height: 30px;
			}
		}
	}
	.auto {max-height: 200px;}


	/* dropdown submenu */
	.dropdown-submenu {position: relative;}
	.dropdown-submenu>.dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-top: -6px;
	    margin-left: -1px;
	    -webkit-border-radius: 0 6px 6px 6px;
	    -moz-border-radius: 0 6px 6px;
	    border-radius: 0 6px 6px 6px;
	}
	.dropdown-submenu:hover>.dropdown-menu {display: block;}
	.dropdown-submenu>a:after {
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    border-width: 5px 0 5px 5px;
	    border-left-color: #ccc;
	    margin-top: 5px;
	    margin-right: -10px;
	}
	.dropdown-submenu:hover>a:after {border-left-color: #fff;}
	.dropdown-submenu.pull-left {float: none;}
	.dropdown-submenu.pull-left>.dropdown-menu {
	    left: -100%;
	    margin-left: 10px;
	    -webkit-border-radius: 6px 0 6px 6px;
	    -moz-border-radius: 6px 0 6px 6px;
	    border-radius: 6px 0 6px 6px;
	}
	/* DROPDOWN SELECT */
	.dropdown-select {
		.dropdown-toggle {
			position: relative;
			text-align: left;
			padding-right: 25px;
			max-width: 100%;

			span:first-child {
				overflow: hidden;
				display: block;
				width: 100%;
			}

			.caret {
				margin-top: -1px;
				position: absolute;
				right: 10px;
				top: 50%;
			}
		}
		.dropdown-menu {
			width: 100%;
			max-height: 200px;
			overflow: auto; 
		}
	}
	.dropup {
		position: relative;
	}

	/* STATUS DROPDOWN */
	.status-dropdown {
		display: inline-block;
		margin-left: 0;
		padding-left: 0;
		.dropdown-toggle {
			padding: 2px 7px;
		}
	}

	/* vertical divider */
	.divider-vertical {
		display: block;
		float: left;
		font-size: 32px;
	}

	/* PAGE NAVIGATION */
	.page-navigation.dropdown-select {
		.dropdown-toggle span:first-child { font-size: 24px;}
		.dropdown-menu > li {
			cursor: pointer;
			&:hover {
				background: #f5f5f5;
			}
			&.active > a {background: transparent; color: #666;}
			&>.bookmark-button {
				display: inline-block;
			}
		}
	}


	
	/************** FORMS **************/

	.form-box {
		padding: 10px;
	}
	.form-horizontal {
		label {
			text-align: right;
			text-transform: none;
		}
	}
	.form-single {
		padding: 30px 10px;
	}	

	/* search-form */
	.search-form {
		padding: 10px;

		.form-group {
			display: inline-block;
			float: left;
			width: 100%;
		}
		.form-control, button {
			background-color: transparent;
			color: #666666;
		}
		button {
			position: relative;
			left: -40px;
			margin-right: -40px;
		}
		.form-control {
			font-style: italic;
			border-bottom: 1px solid #BFBFBF;
			border-right: 1px solid transparent;
			border-left: 1px solid transparent;
			border-top: 1px solid transparent;
			padding: 6px 32px 6px 12px;
			@include box-shadow(0,0,0);
			@include border-radius(0px);
		}
	}
	/* SMALL FORM WITH ARROWS AS STEPS */
	.form-arrows {
		label {
			display: block;
			.fa {
				float: right;
			}
		}
	}
	.last-results-container {
		position: relative;
		.last-results {
			display: none;
			position: absolute;
			list-style: none;
			top: 100%;
			left: 0;
			width: calc(100% - 20px);
			margin: 0 10px;
			height: auto;
			background: #EEEEEE;
			padding: 15px 5px;
			@include box-shadow(0,5px,15px,rgba(0, 0, 0, 0.5));
			z-index: 1000;
			li {
				a {
					display: block;
					padding: 5px 20px;
					color: #333333;
					&:hover {
						background: darken(#eeeeee, 10%);
						text-decoration: none;
					}
				}
			}
		}
	}
	/* counter */
	.input-counter-container {
		position: relative;
		.form-control {
			padding-right: 40px;
		}
		.input-counter {
			font-size: 22px;
			color: #CCCCCC;
			position: absolute;
			right: 10px;
			bottom: 3px;
		}
	}
	/* form actions */
	.entity-iframe .entity-footer.form-actions {padding: 10px 15px}
	.form-actions {
		height: auto;
		overflow: auto;
	}
	.well {
		.form-actions {
			background: #eaeaea;
			margin: 10px -19px -19px;
			padding: 10px 20px;
			border-radius: 0 0 5px 5px;
			-o-border-radius: 0 0 5px 5px;
			-moz-border-radius: 0 0 5px 5px;
			-webkit-border-radius: 0 0 5px 5px;
		}
	}
	/* tagsinput */
	.form-group {
		.bootstrap-tagsinput{
			width: 100%;
			display: block;
			height: auto;
			padding: 6px;
		}
	}
	/*check-table-row*/
	input[type="checkbox"].check-table-row {
		cursor: pointer;
	}
	/* message textarea */
	.message-textarea {
		width: 100%;
		resize: none;
		border: none;
		padding: 5px 0;
		@include box-shadow(0,0,0);
	}
	.send-message-btn {
		margin: 5px 0;
	}


	
/************** TABLES **************/

		.table {
			margin: 10px 0 15px;
			tr th {
				text-transform: uppercase;
			}
			.btn-group {
			  white-space: nowrap;
			  .btn, .btn-group {
			    float: none;
			    display: inline-block;
			    margin: 0 -2px;
			  }
			}
		}
		/* vertical table */
		.table.table-vertical {
			tr td, tr th {
				border-top: 1px solid transparent;
				border-right: 1px solid #dddddd;
			}
			tr td:last-child, tr th:last-child {
				border-top: 1px solid transparent;
				border-right: none;
			}
		}
		/* ultra-condensed table */
		.table-ultra-condensed {
			margin: 5px 0
		}
		.table-ultra-condensed > thead > tr > th, .table-ultra-condensed > tbody > tr > th, .table-ultra-condensed > tfoot > tr > th, .table-ultra-condensed > thead > tr > td, .table-ultra-condensed > tbody > tr > td, .table-ultra-condensed > tfoot > tr > td {
			padding: 2px 5px;
			font-size: 13px;
		}
		.table-ultra-condensed > thead > tr > th, .table-ultra-condensed > tbody > tr > th, .table-ultra-condensed > tfoot > tr > th {
			font-size: 10px;
		}
		/* first-column-title */
		.table.first-column-title {
			tr td:first-child {
				text-align: right;
				font-size: 10px;
				padding: 5px 5px 0 0;
				color: $light-text;
				line-height: 1.2em;
			}
		}

	/* ROWS */
	/* compact rows */
	.row.compact {
		margin-left: -5px;
		margin-right: -5px;
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	/* bordered rows */
	.row.bordered {
		border-bottom: 1px solid $light-border;
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			border-right: 1px solid $light-border;
		}
		&>.col-xs-1:last-child, &>.col-xs-2:last-child, &>.col-xs-3:last-child, &>.col-xs-4:last-child, &>.col-xs-5:last-child, &>.col-xs-6:last-child, &>.col-xs-6:nth-child(2), &>.col-xs-7:last-child, &>.col-xs-8:last-child, &>.col-xs-9:last-child, &>.col-xs-10:last-child, &>.col-xs-11:last-child, &>.col-xs-12 {
			border-right: none !important;
		}
		&.vertical {border-bottom: none !important;}
	}
	.well .row.bordered {
		border-bottom: 1px solid #ddd;
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			border-right: 1px solid #ddd;
		}
	}
	/* mini-table rows */
	.row.mini-table, .mini-table > .row {
		margin: 10px -5px 0;
		font-size: 12px;
		color: #999999;
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			border-right: 1px solid $light-border;
			padding: 0 10px;
		}
		&>.col-xs-1:last-child, &>.col-xs-2:last-child, &>.col-xs-3:last-child, &>.col-xs-4:last-child, &>.col-xs-5:last-child, &>.col-xs-6:last-child, &>.col-xs-7:last-child, &>.col-xs-8:last-child, &>.col-xs-9:last-child, &>.col-xs-10:last-child, &>.col-xs-11:last-child, &>.col-xs-12 {
			border-right: none
		}
	}
	/* big-table rows */
	.row.big-table, .big-table > .row {
		font-size: 14px;
		color: #999999;
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			border-right: 1px solid $light-border;
			padding: 5px 10px;
		}
		&>.col-xs-1:last-child, &>.col-xs-2:last-child, &>.col-xs-3:last-child, &>.col-xs-4:last-child, &>.col-xs-5:last-child, &>.col-xs-6:last-child, &>.col-xs-7:last-child, &>.col-xs-8:last-child, &>.col-xs-9:last-child, &>.col-xs-10:last-child, &>.col-xs-11:last-child, &>.col-xs-12 {
			border-right: none
		}
		&.second-level {
			&>div:first-child {
				text-indent: 25px;
			}
		}
		&.third-level {
			&>div:first-child {
				text-indent: 50px;
			}
		}
	}

	/* STYLED BADGES */
	/* BADGES */
	.badge {
		&.badge-primary {
			background: $error-color;
		}
		&.align-top {
			position: relative;
			top: -10px;
			left: -10px;
			margin: -10px -20px 0 0;
		}
		&.id {
			background: #CCCCCC;
			font-size: 13px;
			font-weight: normal;
			@include border-radius(3px);
			.copy-button {
				color: $inverse-text;
				font-size: 12px;
				position: relative;
				top: -2px;
			}
		}
		&.bookmark {
			position: relative;
			font-size: 10px;
			text-align: center;
			padding: 3px 0 0;
			width: 18px;
			height: 16px;
			margin: 0 10px 10px;
			top: -3px;
			@include border-radius(0);

			&:after {
				 content: "";
				 position: absolute;
				 left: 0;
				 bottom: -6px;
				 width: 0;
				 height: 0;
				 border-bottom: 7px solid transparent;
				 border-left: 9px solid #777777;
				 border-right: 9px solid #777777;
			}

		}
	}
	.active > a > .badge.bookmark {
		background: #333333;
		color: #FFFFFF;
		&:after {
			border-left: 9px solid #333333;
			border-right: 9px solid #333333;
		}
	}

	/* EDITABLE FIELDS */
	.editable-field-container {
		h2.editable-value {margin: 5px 0 0}
		.editable-field-form {
			display: none;
			margin: 10px 0 15px;
			.editable-field {
				margin: 0 0 5px;
			}
			textarea {
				resize: vertical;
				max-height: 130px;
				min-height: 50px;
			}
		}
	}



/* STYLES */
html, body {
	height:100%;
	font-family: 'Roboto Condensed', 'arial narrow', sans-serif;
}


/* CONTEÚDO */
#content {
	width: 100%;
	height: 100%;
	padding-top: 70px;	
	@include transition (all, .3s, ease-in-out);

	&.hasmenu {
		padding-top: 170px;
	}
	&.map-bg {
		background: url(../img/map-bg.png) no-repeat center center fixed;
		height: 100%;
		padding-top: 0;
		position: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	}
}

/* QUADRO DE MENSAGENS */
.messages-board {

	.received, .sent {
		border-bottom: 1px solid #f5f5f5;
		margin-bottom: 5px;
	}
	.sent .message {
		text-align: right;
		margin-left: 20px;
	}
	.baloon {
		background: #333333;
		color: #FFFFFF;
		width: 40px;
		height: 40px;
		text-align: center;
		position: relative;
		margin: 5px;
		padding: 2px;
		float: left;
		@include border-radius(20px);
		.company {
			display: block;
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: calc(100% - 1px);
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid #333333;
			border-right: 5px solid transparent; 
			margin: -5px 0;
		}
		.initials, .company {
			text-transform: uppercase;
			line-height: 1.2em;
		}
		.initials {
			font-size: 20px;
		}
		.company {
			font-size: 7px;
		}
	}
	.message {
		font-size: 14px;
		line-height: 1.2em;
		color: #666;
		margin-left: 60px;
		margin-right: 10px;
		.date {
			display: block;
			color: #999999;
			margin-top: 3px;
			font-size: 10px;
		}
	}
	.messages-status {
		text-align: center;
		font-style: italic;
		font-size: 12px;
		color: #999999;
		margin: 0 0 5px;
	}
}

/* CLICKABLE AREA */
.click-area {	
	background: transparent;
	width: 50px;
	height: 50px;
	position: relative;
	@include border-radius(25px);
	@include transition (all, .1s, ease-in-out);

	&.open {	
		background: rgba(0,0,0,.1);

		.click-area-icon.active {
			text-shadow: 0px 0px 5px #ff0000 !important;
			z-index: 11;
		}
	}

	.click-area-icon {
		position: absolute;
		z-index: 10;

		/* random positioning values */
		&:first-child {top: 20px; left: 16px;}
		&:nth-child(2) {top: 6px; left: 20px;}
		&:nth-child(3) {top: 18px; left: 25px;}
	}

	.dropdown-toggle {
		width: 100%;
		height: 100%;
		text-indent: -9999px;
		display: block;
		position: relative;
		z-index: 12;
	}

}


/* IFRAME */
iframe {
	border: none;
	width: 100%;

	/* AINDA NÃO É POSSÍVEL AJUSTAR A ALTURA

	links que podem ajudar:

	http://css-tricks.com/snippets/jquery/fit-iframe-to-content/
	http://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using
	*/
	min-height: 470px;

}
body.entity-iframe {
	width: 100%;
	position: relative;
	height: auto;
}


/*/////////////////////////// ENTITIES //////////////////////*/

/* ENTITY-WINDOW */
.entity-window {
	z-index: 1030;
	width: 480px;
	display: none;

	&.small {
		width: 320px !important;
	}
	&.large {
		width: 65% !important;
	}

	.entity-content {
		background-clip: padding-box;
    	background-color: #fff;
    	border: 1px solid rgba(0, 0, 0, 0.2);
		position: relative;
		outline: 0 none;
		@include border-radius(0);
		@include box-shadow(0,5px,15px,rgba(0, 0, 0, 0.5))
	}

	.entity-window-header {
		background: $lightbox-color;
		cursor: move;
		padding: 3px;
		position: relative;
		height: 30px;
		border-bottom: 1px solid #e5e5e5;		
		position: relative;

		.bookmark-button {
			font-size: 23px;
			position: absolute;
			top: -8px;
			left: 0;
			padding: 0 5px;
		}
	}

	.entity-body {
		padding: 0; 
		position: relative;
	}
}


/* ENTITIES */
/* retitrar .entity-window desta lista de seletores no master, que usa iframe */
.entity-iframe, .entity-window {

	&>.entity-card {
		margin-bottom: -1px;
		border-bottom: 1px solid #cccccc;
		@extend .entity-card-large
	}

	.tab-content .tab-pane {
		.auto {
			padding: 5px;
			height: auto;
			max-height: 280px;
			&.messages-board {
				padding: 15px 5px;
			}
		}
		.row {
			margin: 0 -5px;
		}
		.tooltip {position: fixed;}
		table tr:first-child th { border-top: none;}
	}

	.entity-footer {
		border-top: 1px solid #e5e5e5;
		text-align: center;
		padding: 5px;
		&> .btn, &> .dropup {
			display: inline-block;
			position: relative;
		}
		.btn-link {color: #666}
	} 
	.entity-panefooter {
		border-top: 1px solid #e5e5e5;
		padding: 3px 10px;
		text-align: center;
		.flag {
			background: url(../img/icons/flag-icon.png);
			color: $inverse-text;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			width: 25px;
			height: 29px;
			display: inline-block;
			margin: 5px 10px;
			padding: 4px 0 4px 4px;
		}
	}

	/* TABELA DE MANOBRAS */
	.maneuver-table {
		text-align: left;
		tr {
			td {
				padding: 5px;
				&:first-child {
					text-align: right;
				}
			}
			&:hover {
				background: #f8f8f8;
				& > .hover-buttons-container{
					padding: 0;
					.hover-buttons {
						width: 50px
					}
				}
			}
		}
	}
	.maneuver-table, dl {
		.danger, &.danger {
			.date, .hour, .name, .description {
				color: $error-color;
				font-weight: bold;
			}
		}		
		.date, .hour, .description {color: #999999}
		.date, .hour, .name, .description {
			display: block;
			line-height: 1em;
			margin: 0 0 5px 0;
		}
		.date {margin-top: 3px}
		.hour {font-size: 10px}
		.description {
			font-size: 11px;
			font-style: italic;
			.executor {
				font-style: normal;
				text-transform: uppercase;
			}
		}
		.name {
			small {
				color: #999999;
			}
		}
	}	
}



/* ENTITIES-LIST */
.entity-list {
	.entity-card {
		border-bottom: 1px solid #cccccc;
		.entity-symbol {
			float: left;
			& > .fa {
				font-size: 16px;
				margin-top: 10px; 
			}
		}
		.entity-card-data {
			padding: 5px;
			text-align: left;
			.entity-title {
 				font-size: 14px;
				display: inline;
				height: auto;
				margin-right: 10px;
 				text-transform: none;
		 		.badge {
		 			font-size: 12px;
		 		}
			}
 			.status {
 				font-size: 12px;
 			}				
		}
	}
}

/* ENTITIES-CARDS */
.entity-card {
	position: relative;

	.entity-symbol {
		float: left;
		& > .fa {
			display: block;
		}
	}
	.entity-card-data {
		color: #666;
		width: calc(100% - 40px);
		padding: 0 8px;
		min-height: 40px;
		float: left;

		.entity-title {
			font-size: 14px;
			line-height: 1.1em;
			font-weight: 700;
			color: #333333;
			&.small {
				text-transform: none;
				font-size: 16px;
				margin-top: 5px;
				font-weight: normal;
			}			
			.form-control[readonly] {
			    cursor: default;
			}
		}
		.entity-subitem {
			font-size: 12px;
			color: #999999;
			.title {
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
}
.entity-card-large {
	.entity-symbol {
		width: 58px;
		height: 58px;
		& > .fa {
			margin-top: 10px;
			font-size: 16px;
			display: block;
		}
	}
	.entity-card-data {
		width: calc(100% - 58px);
		padding: 3px 10px;
		min-height: 58px;
		.entity-title {
			text-transform: uppercase;
			font-size: 18px;
			width: 60%;
			.badge.id { font-size: 16px}
		}
		.entity-subitem {
			font-size: 14px;			
			margin: 0 0 10px;
		}
	}
	.entity-buttons {
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
		list-style: none;
		padding-left: 0;
		li {display: inline-block; float: right; margin: 0 3px;}
	}
}
.table {
    .entity-card {
    	margin: 0;
    	display: block;
    	.entity-card-data {
    		width: calc(100% - 58px);
    		padding: 3px 8px;
    		min-height: 47px;
    		.entity-subitem { margin-bottom: 0}
    	}
    }
}

/* ENTITY-SYMBOL */

.entity-symbol {
	background: #EEEEEE;
	display: inline-block;
	text-align: center;
	color: $default-text;
	padding: 2px;
	height: 40px;
	width: 40px;
	position: relative;

	&.large {
		width: 58px;
		height: 58px;
		& > .fa {
			margin-top: 10px;
			font-size: 16px;
			display: block;
		}
	}

	&.pendente {
		background: $pendente;
		&:hover { background: darken($pendente, 10%) }
	}
	&.designado {
		background: $designado;
		&:hover { background: darken($designado, 10%) }
	}
	&.acionado {
		background: $acionado;
		&:hover { background: darken($acionado, 10%) }
	}
	&.em-execucao {
		background: $em-execucao;
		&:hover { background: darken($em-execucao, 10%) }
	}
	&.finalizado {
		background: $finalizado;
		&:hover { background: darken($finalizado, 10%) }
	}

	&.pendente, &.designado, &.acionado, &.em-execucao, &.finalizado {color: $inverse-text; color: rgba(255,255,255,.9);}

	&.error {
		background: $error-color;
	}
	&.success {
		background: $success-color;
	}
	&.warning {
		background: $warning-color;
	}
	&.info {
		background: $info-color;
	}

	&>.fa {
		font-size: 14px;
		display: block;
		margin: 4px 0 -2px;
	}
	p {
		margin-bottom: -5px;
	}
	span {font-size: 10px;}
	.entity-text {
		line-height: 1.2em;
		font-size: 11px;
		text-transform: uppercase;
		display: block;
		margin-bottom: -2px;
	}
	.bookmark-button {
		position: absolute;
		top: -3px;
		left: 3px;
		i.fa {
			font-size: 20px;
		}
	}

	/* ENTITY-SYMBOLS VARIATIONS */
	&.idless {
		background: transparent;
		&>img, &>.fa {
			margin-top: 10px
		}
	}
	&.iconless > span {
		font-size: 14px;
		padding-top: 15px;
		display: block;
	}
	&.priotity {
		position: relative;
		padding: 0 !important;
		display: table;

		&>span {
			display: block;
			font-size: 14px;
		}

		.priority-list {
			list-style: none;
			padding: 0;
			margin: 0;
			max-height: 48px;
			width: 100%;
			height: auto;
			left: 0;
			bottom: 0;
			position: absolute;
			li {
				display: inline-block;
				float: left;
				margin: 0 -1px 0 0;
				width: 20px;
				height: 20px;
				img { vertical-align: top}
			}
		}
	}
}		
a.entity-symbol {
	&.pendente, &.designado, &.acionado, &.em-execucao, &.finalizado {color: $inverse-text; color: rgba(255,255,255,.9);}
	&:hover {
		background: darken(#EEEEEE, 10%);
		text-decoration: none;
		color: #666;
	}
}
.dropdown {
	.entity-symbol.dropdown-toggle{
		@include box-shadow(-2px,2px,0,#333);
	}
}


/* PAGE LOADER */
body {
	#page-loader {
	  position: fixed;
	  top: 0;
	  bottom: 0%;
	  left: 0;
	  right: 0%;
	  background-color: rgba(255,255,255,.75);
	  z-index: 1099;
	  display: none;
	  text-align: center;
	  width: 100%;
	  	.fa-spin, .stop-btn {
	  		position: absolute;
	  		margin: -2.5em 0;
	  		left: 0;
	  		width: 100%;
	  	}
	  	.fa-spin {	  		
	  		font-size: 5em;
	  		line-height: 5em;
	  		top: 50%;
	  		opacity: .5;
	  	}
	  	.stop-btn {
	  		display: block;
	  		font-size: .8em;
	  		top: calc(50% + 6.5em);
	  	}
	}
	&.loading {
		overflow: hidden;
		#page-loader {
			display: block;
		}
	}
}



/* NOTIFICATIONS AND MESSAGES */
.notification-list {
	min-width: 350px;
	margin: 0;
	padding: 0;
	list-style: none;
	.notification {
		display: block;
		position: relative;
		padding: 8px 5px;
		cursor: pointer;


		&.important, &.important.unseen {
			animation: anim-redblink .7s infinite alternate ease-out;
			.notification-text {
				color: #666666;
			}
		}
		&.unseen {background: #EEEEEE;border-bottom: 1px solid #ddd}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		.bookmark-button {
			position: absolute;
			top: -6px;
			left: 5px;
			padding: 0;
			&:hover, &:active {background:transparent;}
		}
		.entity-symbol {
			margin: 0 0 0 5px;
			padding: 2px;
			@include border-radius(20px);			
			display: inline-block;
			vertical-align: middle;
		}

		.notification-text {
			font-size: 13px;
			color: #999999;
			display: inline-block;
			vertical-align: middle;
			max-width: 225px;
			padding: 0 5px;
			margin: 0;
			strong {display: block;}
			.copy-button {color: #666666}
		}

		.notification-options {
			display: inline-block;
			vertical-align: middle;
			width: 40px;
			text-align: center;
			a {
				padding: 2px;
				color: #999999;
			}
			.date {
				font-size: 11px;
				color: #999999;
			}
		}
	}

}/*notifications and messages*/


/* REPOSNSIVE */
@media (max-width: 1024px) {
	.menus-container {
		#navigation {
			.dropdown-toggle {
				padding: 11px 25px 11px 10px;
				strong {
					font-size: 26px;
				}
				&.toggle-menu {
					padding: 20px 15px;
				}
			}
			.notifications, .messages {
				& > .dropdown-toggle { padding: 23px 0 23px 10px; }
			}
		}
	}
}