/* OP - NATHALIA TUIA XAVIER */



/* LIST TABLE */
.list-table {
	position: relative;

	thead[data-spy="affix"].affix {
		background: #FFFFFF;
		z-index: 1000;
		display: table-row;
		top: 70px;
	}

	thead > tr > th, tbody > tr > td {

		&:nth-child(1) {width: 40%;}
		&:nth-child(2) {width: 17%;}
		&:nth-child(3) {width: 19%;}
		&:nth-child(4) {width: 17%;}
		&:nth-child(5) {width: 7%;}
	}

	.row.bordered {
		border-bottom: none;
		margin: 0 -10px;
		.entity-symbol {margin-left: -5px;}
	}
    .entity-symbol {
    	width: 60px;
    	height: 60px;
    	padding: 2px 10px;
    	margin: 0 10px 0 0;
    	float: left;
    	p {margin: 0; line-height: 1}
    }
    thead {
    	tr:first-child {
    		th {
    			background: #EEEEEE;
    			color: #666666;
    			font-weight: 400;
    			font-size: 14px;
    			padding: 15px 10px;
    			border-bottom: none;
    		}
    	}
    	tr:last-child th {font-size: 10px; vertical-align: middle}
    }
    tbody tr {
    	transition: all .2s ease-in-out;
    	&:hover {
    		background: #eeeeee;
    	}
    	td:last-child {
    		text-align: center;
    	}
    	.options {
    		background: #e5e5e5;
    		display: none;
    		padding: 5px;

    		a {
    			padding: 0 5px;
    		}
    		.messages-btn {
    			position: relative;
    			.messages-length {
    				position: absolute;
    				color: $inverse-text;
    				width: 20px;
    				height: 10px;
    				font-size: 8px;
    				line-height: 1;
    				top: 5px;
    				left: 0;
    				text-align: center;
    			}
    		}
    		.message-status {
    			font-style: italic;
    			float: left;
    			font-size: 12px;
    			margin: 2px 0;
    		}
    	}
    	/*
		&:hover {
			.options {display: block;}
		}
    	*/
    	td {
    		padding: 0;
    		vertical-align: middle;
			strong {color: #333}
    		.data {
    			height: 60px;
    		}
    		.data:before,.data:after {content:"";display:table;}
			.data:after {clear:both;}

    		.cell-text {
    			color: #666666;
    			display: block;
    			margin-top: 8px;
    		}
    		.cell-subtext {
    			display: block;
    			color: #999999;
    			font-size: .9em
    		}
    		small.cell-subtext {font-size: .8em}
    	}
    }
}


/* PAGINATION */
.pagination-nav {
	display: inline-block;
	float: right;
	.nav {
		margin: 0 30px 0 0;
		&:last-child {
			margin: 0;
		}
	}
	.navbar-nav > li > a {
		padding: 5px;
		color: #666;
		&:hover { background: transparent; text-decoration: underline;}
		&.disabled {
			color: #999999;
			cursor: not-allowed;
		}
	}
	.jump-to {
		text-transform: uppercase;
	}
	.dropdown-menu {
		max-height: 150px;
		overflow: auto;
	}
}


/* ACTIONS NAVBAR */
#actions-navbar {
	margin: 30px 0;
	min-height: 40px;
	padding: 5px 20px;

	h1 {
		font-size: 26px;
	}
	
	.navbar-nav > li > a {
		padding: 10px 15px;
		opacity: .6;
		&:hover {
			opacity: 1;
		}
	}
	.navbar-right {margin-right: 10px;}
	.navbar-title {
		width: auto;
		float: left;
		h1 {
			margin: 0;
			padding: 10px 0;
			line-height: 1			
		}
	}
	.alarm-pda-container {
		float: left;
		margin: 0 10px;
		.alarm-btn, .pda-btn {
			margin: 10px;
		}
	}
	.summary {
		text-transform: uppercase;
		font-size: 14px;
		text-align: right;
		color: #666666;
		float: left;
		margin: 0 10px;
		.category {
			color: #999999;
		}
	}

	.refresh-btn-container {
		float: left;
		margin: 5px 0 5px 20px;
		.refresh-btn {
			font-size: 24px;
			color: #666666;
			.fa.fa-refresh {display: none;}
			&:hover {
				color: #333333;
				text-decoration: none;
				.fa.fa-refresh {display: inline;}
				.fa.fa-clock-o {display: none;}
			}
			&.finishing {
				color: red;
				&.remaining {color: #333333}
			}
		}
	}
}


/* RESEARCH CONTAINER */
.research-container {
	.row.bordered {
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			border-right: 1px solid #dddddd;
		}
		&>.col-xs-1:last-child, &>.col-xs-2:last-child, &>.col-xs-3:last-child, &>.col-xs-4:last-child, &>.col-xs-5:last-child, &>.col-xs-6:last-child, &>.col-xs-6:nth-child(2), &>.col-xs-7:last-child, &>.col-xs-8:last-child, &>.col-xs-9:last-child, &>.col-xs-10:last-child, &>.col-xs-11:last-child, &>.col-xs-12 {
			border-right: none
		}
	}
	h4 {
		text-align: center;
	}
}

p.research-found {
	margin: 0;
	font-size: 18px;
	color: #999;
	strong {
		color: #666;
	}
}


/* RESEARCH TABLE */
.research-table {
	&>tbody>tr>td, &>thead>tr>th {vertical-align: middle; padding: 0 8px; word-wrap: break-word;}
    thead {
    	tr {
    		th {
    			background: #EEEEEE;
    			color: #666666;
    			font-weight: 400;
    			font-size: 13px;
    			padding: 5px;
    			border-bottom: none;
    			vertical-align: middle;
    			text-align: center;
    		}
    	}
    	tr:last-child th {font-size: 11px;}
    }
    .entity-card {margin: 0 -8px}
}