/* CENTRAL DE MENSAGENS */
/*
  client: axxiom
  author: Nathalia de Azevedo Xavier
  by: latitude14.com.br
  started: 05/05/15
*/
#central-de-mensagens {
  position: relative;
  padding-left: 300px;
  /*tipografia*/
  /* 3d */
  /* componentes */
  /*aside menu*/
}
#central-de-mensagens #navigation {
  display: none;
}
#central-de-mensagens h3 {
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
  margin: 0 0 5px;
  line-height: 1.1em;
}
#central-de-mensagens p.tip {
  font-size: 12px;
  color: #999999;
  font-style: italic;
  line-height: 1.2em;
}
#central-de-mensagens #aside-menu {
  z-index: 3;
}
#central-de-mensagens #aside-menu .top-item {
  z-index: 5;
  background: #FFFFFF;
  position: relative;
}
#central-de-mensagens #aside-menu .bottom-item {
  z-index: 4;
}
#central-de-mensagens .cell {
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
}
#central-de-mensagens #aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  border-right: 1px solid #DDDDDD;
}
#central-de-mensagens #aside-menu #msg-cemig-dropdown {
  padding: 10px;
}
#central-de-mensagens #aside-menu #msg-cemig-dropdown .dropdown-toggle {
  color: #cccccc;
  font-size: 20px;
  text-transform: uppercase;
}
#central-de-mensagens #aside-menu #msg-cemig-dropdown .dropdown-toggle .highlight {
  color: #FFDC72;
}
#central-de-mensagens #aside-menu #msg-cemig-dropdown .dropdown-toggle:after {
  position: absolute;
  content: " ";
  bottom: -5px;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #000 transparent transparent transparent;
}
#central-de-mensagens #aside-menu #areas-list {
  padding: 10px 10px 0;
}
#central-de-mensagens #aside-menu #areas-list .area-item {
  color: #999999;
}
#central-de-mensagens #aside-menu #areas-list .area-item a {
  font-weight: bold;
  color: #999999;
}
#central-de-mensagens #aside-menu #areas-list .area-item span {
  font-size: 10px;
  line-height: 1.2em;
  display: block;
}
#central-de-mensagens #aside-menu #areas-list .area-item span.hidden-item {
  display: none;
}
#central-de-mensagens #aside-menu #areas-list .area-item.active {
  color: #666666;
}
#central-de-mensagens #aside-menu #areas-list .area-item.active a {
  color: #666666;
}
#central-de-mensagens #aside-menu #areas-list .btn.show-more {
  font-size: 32px;
  color: #999999;
  line-height: 12px;
  height: 40px;
}
#central-de-mensagens #aside-menu #search-contacts {
  padding: 5px 0;
}
#central-de-mensagens #aside-menu #search-contacts .search-form {
  padding: 0;
}
#central-de-mensagens #aside-menu #search-contacts .search-form .form-control {
  border: none;
}
#central-de-mensagens #aside-menu #filter {
  padding: 10px;
  color: #CCC;
}
#central-de-mensagens #aside-menu #filter .msg-filter-btn {
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
}
#central-de-mensagens #aside-menu #filter .msg-filter-btn.active {
  font-weight: bold;
  color: #666666;
}
#central-de-mensagens #aside-menu #filter .msg-filter-btn small {
  font-size: 10px;
}
#central-de-mensagens #aside-menu .cell.auto {
  height: calc(100% - 240px) !important;
  max-height: none;
  position: fixed;
  bottom: 0;
  width: 300px;
  left: 0;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data {
  position: relative;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data .entity-title {
  margin-right: 3px;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data .entity-title .badge.id {
  font-size: 14px;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data .entity-subitem {
  font-size: 11px;
  margin: 5px 0 0;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data .right-details {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  text-align: right;
  padding: 5px 0;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data .right-details .toggle-icon-btn .fa {
  font-size: 20px;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data .right-details .toggle-icon-btn .fa:first-child {
  color: #777777;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data .right-details .toggle-icon-btn .fa:last-child {
  color: #cccccc;
}
#central-de-mensagens #aside-menu .entity-list .entity-card .entity-card-data .right-details .last-seen {
  display: block;
  color: #999999;
  font-size: 11px;
}
