/* GE2 - NATHALIA TUIA XAVIER */


/* VARIAVEIS */

	/* THEME COLORS */
	$background-color: #FFFFFF;
	$theme-color: #c03538;
	$lightbox-color: #F8f8f8;
	$light-border: #f0f0f0;

	/* TEXT COLORS */
	$dark-text: #333333;
	$default-text: #666666;
	$light-text: #999999;
	$lighter-text: #BBBBBB;
	$inverse-text: #FFFFFF;

	/* FONT-SIZES */
	$label-size: 11px;
	$default-text-size: 14px;
	$paragraph-size: 16px;


	/*RESPONSIVENESS*/
	$screen-lg-min: 1024px;
	@media (max-width: 1024px) {
	    .container, .container-fluid {width: 970px;}
	}


/* HELPER CLASSES */
.text-center {
	text-align: center;
}

.expandable-container {
	.hidden-item {
		display: none;
	}
}

.badge {
	&.badge-primary {
		background: $theme-color;
	}
	&.align-top {
		position: relative;
		top: -10px;
		left: -10px;
		margin: -10px -20px 0 0;
	}
}


/* TYPOGRAPHY */

	.unity {
		color: $lighter-text;
	}
	/* labels */
	label, dt, th {
		color: $light-text;
		font-weight: 300;
		font-size: 11px;
		font-size: $label-size;		
	}
	label, dt {
		text-transform: uppercase;
		font-weight: 400;
	}

	/* description list */
	dl {
		margin: 10px 0 15px;

		dt {
			line-height: 1.5em;
		}
		dd {
			color: $default-text;
			line-height: 1.2em;
		}
	}


/* COMPONENTS */

	/* buttons */
	.btn-link {
		&:hover {
			background-color: darken( #FFFFFF, 5% );
		}
	}

	/* dropdown-inverse */
	.dropdown-inverse {
		background-color: #222;
		border-color: #080808;
		&>li>a{
			color: #999;
		&:hover{
			color: #fff;
			background-color: #000;
			}
		}
		&>.divider {
			background-color: #000;
		}
	}

	/*dropdown submenu*/
	.dropdown-submenu {    position: relative;}
	.dropdown-submenu>.dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-top: -6px;
	    margin-left: -1px;
	    -webkit-border-radius: 0 6px 6px 6px;
	    -moz-border-radius: 0 6px 6px;
	    border-radius: 0 6px 6px 6px;
	}
	.dropdown-submenu:hover>.dropdown-menu {display: block;}
	.dropdown-submenu>a:after {
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    border-width: 5px 0 5px 5px;
	    border-left-color: #ccc;
	    margin-top: 5px;
	    margin-right: -10px;
	}
	.dropdown-submenu:hover>a:after {border-left-color: #fff;}
	.dropdown-submenu.pull-left {float: none;}
	.dropdown-submenu.pull-left>.dropdown-menu {
	    left: -100%;
	    margin-left: 10px;
	    -webkit-border-radius: 6px 0 6px 6px;
	    -moz-border-radius: 6px 0 6px 6px;
	    border-radius: 6px 0 6px 6px;
	}

	/* vertical divider */
	.divider-vertical {
		display: block;
		float: left;
		font-size: 32px;
	}

	/* condensed nav-tabs*/
	.nav.nav-tabs.nav-condensed {
		li {
			& > a {
				padding: 5px 10px;
			}
		}
	}

	/* tables */
		.table {
			margin: 10px 0 15px;
		}
		/* vertical table */
		.table.table-vertical {
			tr td, tr th {
				border-top: 1px solid transparent;
				border-right: 1px solid #dddddd;
			}
			tr td:last-child, tr th:last-child {
				border-top: 1px solid transparent;
				border-right: none;
			}
		}
		/* ultra-condensed table */
		.table-ultra-condensed > thead > tr > th, .table-ultra-condensed > tbody > tr > th, .table-ultra-condensed > tfoot > tr > th, .table-ultra-condensed > thead > tr > td, .table-ultra-condensed > tbody > tr > td, .table-ultra-condensed > tfoot > tr > td {
			padding: 2px 5px;
			font-size: 13px;
		}
		.table-ultra-condensed > thead > tr > th, .table-ultra-condensed > tbody > tr > th, .table-ultra-condensed > tfoot > tr > th {
			font-size: 10px;
		}
		/* first-column-title */
		.table.first-column-title {
			tr td:first-child {
				text-align: right;
				font-size: 10px;
				padding: 5px 5px 0 0;
				color: $light-text;
				line-height: 1.2em;
			}
		}



	/* bordered rows */
	.row.bordered {
		border-bottom: 1px solid $light-border;
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			border-right: 1px solid $light-border;
		}
		&>.col-xs-1:last-child, &>.col-xs-2:last-child, &>.col-xs-3:last-child, &>.col-xs-4:last-child, &>.col-xs-5:last-child, &>.col-xs-6:last-child, &>.col-xs-7:last-child, &>.col-xs-8:last-child, &>.col-xs-9:last-child, &>.col-xs-10:last-child, &>.col-xs-11:last-child, &>.col-xs-12 {
			border-right: none
		}
	}



/* STYLES */
html, body {
	height:100%;
	font-family: 'Roboto Condensed', sans-serif;
	min-width: 1024px;
}


/*NAVIGATION*/
.navbar-fixed-top {
	.search-form {
		padding: 4px;
		.form-control, button {
			background-color: transparent;
			color: #666666;
		}
		.form-control {
			font-style: italic;
			border-bottom: 1px solid #999999;
			border-right: 1px solid transparent;
			border-left: 1px solid transparent;
			border-top: 1px solid transparent;
			padding: 6px 32px 6px 12px;
			@include box-shadow(0,0,0);
			@include border-radius(0px);
		}
		button {
			position: relative;
			left: -40px;
			margin-right: -32px;
		}
	}
}

#navigation {
	background-color: #222222;
	background-color: rgba(34,34,34,.75);
	height: 70px;

	.search-form {
		padding: 8px;
		.form-control, button {
			color: #FFFFFF;
		}
	}

	.notifications, .messages {
		.dropdown-toggle {
			padding: 22px 0 22px 10px;
			.glyphicon {
				font-size: 20px;
			}
			.badge {
				background-color: $theme-color;
				position: relative;
				top: -15px;
				left: -15px;
			}
		}
	}

	.dropdown-toggle {
		padding: 8px 25px 8px 15px;
		strong {
			display: block;
			font-weight: 300;
			font-size: 32px;
			line-height: 1;
		}
		small {
			text-transform: uppercase;
			font-size: 10px;
		}
		.caret {
			position: absolute;
			top: 50%;
			right: 7px;
		}
	}
	.divider-vertical {
		padding: 12px 8px;
	}

	ul.navbar-right {
		padding-right: 20px;
	}
	.op-list {
		li:nth-child(odd) .op-badge{
			background: #3a3a3a	;
		}
		.op-badge {
			background: #6F6F6F;
			display: inline-block;
			margin: -3px 5px -3px -20px;
			padding: 3px 5px;
			width: 30px;
			text-align: center;
		}
	}
}


/*SUBNAV*/
#subnav {
	background-color: rgba(204,204,204,.85);
	top: 70px;
	z-index: 999;
	.navbar-nav > li > a {color: #666666} 
	.dropdown-toggle {
		font-size: $paragraph-size;
	}
	.sub-divider {
		color: #999;
		font-size: 24px;
		padding: 5px 5px;
	}

	.search-form {
		background: rgba(204,204,204,.85);
		margin: 0;
		position: absolute;
		right: 0;
		padding: 8px 4px;
		.contextual-search {
			width: 215px;
			-webkit-transition: width .5s ease-in-out;
			-moz-transition: width .5s ease-in-out;
			-ms-transition: width .5s ease-in-out;
			-o-transition: width .5s ease-in-out;
			transition: width .5s ease-in-out;
		}
		.search-options {
			display: none;
			position: absolute;
			right: 15px;
			height: auto;
			width: auto;
			background: rgba(204,204,204,.85);
			top: 100%;
			.nav-tabs > li > a {
				margin-right: 0;
				@include border-radius(0);
				padding: 10px 5px;
			}
			.tab-pane {
				padding: 5px;
				.scale-container {
					margin: 20px 30px;
				}
				.scale-label {
					color: #666666;
					padding: 12px 0;
					display: inline-block;
					text-align: right;
				}
			}
		}
	}
}

/* CONTEÚDO */
#content {
	&.map-bg {
		background: url(../img/map-bg.png);
		height: 100%;
	}
}


/* MODALS */
.entity-modal {

	.modal-header {
		background: $lightbox-color;
		padding: 5px 10px;
		position: relative;
		height: 30px;

		.bookmark-button {
			color: $dark-text;
			font-size: 23px;
			position: absolute;
			top: -8px;
			left: 0;
			padding: 0 5px;
		}
	}
	.modal-body {
		padding: 0; 

		.entity-header {
			margin-bottom: 2px;

			.entity-symbol {
				background: $theme-color;
				display: inline-block;
				float: left;
				text-align: center;
				color: $inverse-text;
				padding: 5px;
				height: 58px;
				width: 58px;
				.fa {
					font-size: 30px;
				}
			}
			.entity-header-data {
				float: left;
				padding: 3px 10px;
				height: 58px;

				.entity-title {
					font-weight: 700;
					text-transform: uppercase;
					font-size: 20px;
				}
				.entity-coordinates {
					font-size: 12px;
					color: $light-text;
				}
			}
		}
		.tab-content .tab-pane {
			padding: 0 15px;
		}
	}
	.modal-footer {
		text-align: center;
	}
}