/* GE2 - NATHALIA TUIA XAVIER */


/* VARIAVEIS */

	/* Cores */
	$background-color: #FFFFFF;
	$theme-color: #c03538;


	/*Media queries breakpoints*/
	$screen-lg-min: 1200px;


/* COMPONENTS */

/* STYLES */
body {
	border: 30px solid red;
}