/* CENTRAL DE MENSAGENS */
/*
  client: axxiom
  author: Nathalia de Azevedo Xavier
  by: latitude14.com.br
  started: 05/05/15
*/

#central-de-mensagens {
	position: relative;
	padding-left: 300px;

	/*tipografia*/
	h3 {
		font-size: 14px;
		color: #999999;
		text-transform: uppercase;
		margin: 0 0 5px;
		line-height: 1.1em;
	}
	p.tip {
		font-size: 12px;
		color: #999999;
		font-style: italic;
		line-height: 1.2em;
	}

	/* 3D */
	#aside-menu {
		z-index: 3;
		@include box-shadow(1px,0,2px,rgba(0, 0, 0, 0.15));

		.top-item {
			z-index: 5;
			background: #FFFFFF;
			position: relative;
			border-bottom: 1px solid #DDDDDD;
			@include box-shadow(0,1px,2px,rgba(0, 0, 0, 0.05));
		}
		.bottom-item {z-index: 4;}
	}
	#navigation {z-index: 2;}
	#content {padding-top: 64px;}


	/* COMPONENTS */
	.cell {
		width: 100%;
		border-bottom: 1px solid #DDDDDD;
	}
	.filter {
		padding: 10px;
		color: #CCC;			
		.msg-filter-btn {
			text-transform: uppercase;
			font-size: 14px;
			color: #999999;
			font-weight: 300;
			&.active {
				font-weight: bold;
				color: #666666;
			}
			&:first-child {
				display: block;
			}
			small {
				font-size: 10px;
			}
		}
	}
	.entity-list {
		.entity-card {
			background: #fcfcfc;
			.entity-card-data {
				position: relative;
				.entity-title {
					margin-right: 3px;
					.badge.id {font-size: 14px;}
				}
				.entity-subitem {
					font-size: 11px;
					margin: 5px 0 0;
				}
				.right-details {
					position: absolute;
					top: 0;
					right: 0;
					width: 55px;
					text-align: right;
					padding: 10px 5px;
					.toggle-icon-btn {
						.fa {
							font-size: 20px;
							&:first-child{color: #777777;}
							&:last-child{color: #cccccc;}
						}
						&:hover {
							text-decoration: none;
							.fa {
								text-shadow: 0px 0px 2px $brand-yellow;
							}
						}
					}
					.last-seen {
						display: block;
						color: #999999;
						font-size: 11px;
					}
				}
			}
		}
	}


	/* PAGE ITEMS */
	#navigation {
		height: 63px;
		border-bottom: 1px solid #DDDDDD;
		padding-left: 295px; 
		margin:0;
		@include box-shadow(1px,0,2px,rgba(0, 0, 0, 0.15));	

		.filter {
			width: 720px;
			padding: 10px 0 0;
			margin-right: -190px;
			.msg-filter-btn {
				&.only {
					border: none;
					display: block;
					padding: 10px 5px;
					margin: 0;
				}
				&.title {
					font-size: 20px;
					&.active {font-weight: 400;}
				}
			}
			.bookmark.badge {
				margin: 12px 2px 10px 0;
				display: inline-block;
				font-size: 13px;
				line-height: 10px;
			}
		}
	    .navbar-icon {
	      &>a {
	        border: none;
	        height: 62px;
	        padding: 25px 10px;
	        color: #666666;
	        .fa {
	          font-size: 24px;
	          line-height: 10px;
	        }
	      }
	      .new-message-btn {
	      	background: #EB615B;
	      	@include border-radius(25px);
	      	height: 50px;
	      	width: 50px;
	      	padding: 16px;
	      	text-align: center;
	      	margin: 7px;
	      	position: relative;
			@include box-shadow(0,1px,2px,rgba(0, 0, 0, 0.25));
	      	&>.fa {
	      		color: #FFFFFF;
	      	}
	      	&:hover {
				@include box-shadow(1px,2px,2px,rgba(0, 0, 0, 0.15));
	      		top: -1px;
	      	}
	      }
	    }
	    .search-form {
	    	margin: 0;
		    .form-control {
		    	width: 100px;
		    	border-bottom: 1px solid #DDDDDD;
		    }
		    button {
		    	left: -35px;
		    	margin-right: -35px;
		    	padding: 6px 10px;
		    }
		}
	}

	#aside-menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 300px;
		border-right: 1px solid #DDDDDD;

		#msg-cemig-dropdown {
			padding: 10px;
			height: 63px;
			.dropdown-toggle {
				color: #cccccc;
				font-size: 20px;
				text-transform: uppercase;
				.highlight {color: #FFDC72}
				&:after {
					position: absolute;
					content: " ";
					bottom: -5px;
					left: 10px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 10px 0 0;
					border-color: #000 transparent transparent transparent;
				}
			}
		}

		#areas-list{
			padding: 10px 10px 0;
			.area-item {
				color: #999999;
				a {
					font-weight: bold;
					color: #999999;
				}
				span {
					font-size: 10px;
					line-height: 1.2em;
					display: block;
					&.hidden-item {display: none;}
				}
				&.active {
					color: #666666;
					a {color: #666666;}
				}
			}
			.btn.show-more {
				font-size: 32px;
				color: #999999;
				line-height: 12px;  
	    		height: 40px;
			}
		}

		#search-contacts {
			padding: 5px 0;
			.search-form {
				padding: 0;
				.form-control {	border: none;}
			}			
		}

		.cell.auto {
			height: calc(100% - 240px) !important;
			max-height: none;
			position: fixed;
			bottom: 0;
			width: 300px;
			left: 0;
		}

	} /*aside menu*/

	/* messages-list */
	#messages-list {
		overflow: hidden;
		margin: 0 -15px;
		.entity-list {
			.entity-card {
				background: #f8f8f8;
				padding: 5px 10px 0 25px;
				height: 60px;
				position: relative;
				.entity-symbol {
	      			@include border-radius(25px);
	      			width: 50px;
	      			height: 50px;
	      			&>.fa {
	      				margin-top: 7px;
	      			}
				}
      			.bookmark-button {
      				left: 12px;
      				top: -8px;
      				position: absolute;
      			}
			}
			.entity-card-data {
				padding: 3px 5px 3px 10px;
				.entity-title {
					color: #999;
					font-size: 15px;
				}
				.entity-subitem {
					margin: 0px;
					font-size: 14px;
					font-weight: 300;
					.copy-button {
						color: #999;
					}
				}
			}
			.right-details {
				padding: 0 5px;
				&>a .fa{
					font-size: 14px;
				}
				.reply-btn {
					color: #999999;
					display: inline-block;
					margin-right: 5px;
					&:hover .fa{text-shadow: 0px 0px 2px $brand-yellow;}
				}
			}
		}

	}/* messages-list */

	/* MODAL */
	#escrever-mensagem-modal {
		.modal-content {border: 5px solid #CF6C54;}
		.modal-header {
			.nav-pills {
				li {
					&.active a {
						background: transparent;
						color: #666666;
						font-weight: bold;
						text-shadow: none;
					}
					a {
						text-transform: uppercase;
						color: #999;
						font-size: 12px;
						padding: 5px 8px;
					}
				}
			}
			.modal-options .btn-default {border: none;}
		}
		.modal-body {
			padding: 0;
			.tab-pane {
				padding: 10px;
				.last-results-container .form-group {
					margin-bottom: 0;
					.bootstrap-tagsinput {
						border: none;
						box-shadow: none;
						padding: 0;
						margin: 0;
						.tag.label {
							font-size: 14px;
						    font-weight: 300;
						    line-height: 2.2em;
						    padding: 0.3em 0.5em;
						    span {font-weight: bold;}
						}
					}
				}
			}
			.message-field {
				padding: 15px;
				border-top: 1px solid #e5e5e5;
				label {
					font-size: 14px;
					margin-bottom: 5px;
					text-transform: none;
				}
				.input-counter {
					bottom: initial;
					top: -33px;
					right: 0;
				}
			}
		}
		.modal-footer {
			.dropdown-select {
				.dropdown-menu {
					width: 380px;
					height: 300px;
					li a {
						color: #666;
						padding: 8px 15px;
						border-bottom: 1px solid #D5D5D5;
					}
				}
			}
		}
	}

}