/* MEI */
#mei-navigation {
	.navbar-nav.nav {
		.active {
			.dropdown-toggle {background: rgba(0,0,0,1);}
			.dropdown-menu {
				display: block;
			    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.70);
			    left: 0;
			    position: fixed;
			    top: 50px;
			    width: 100%;
			    text-align: center;
			    padding: 0;
			    z-index: 999;
			}
			.dropdown-menu {
				li {
					display: inline-block;
				}
			}
		}
		.dropdown:nth-child(2) .dropdown-toggle {color: #1abc9c}
		.dropdown:nth-child(3) .dropdown-toggle {color: #9b59b6}
	}
}

.dos-and-donts {
   padding-left:20px;
   text-indent: 2px;
   list-style: none;
   list-style-position:outside;

	li {
		margin-bottom: 20px;
		&.do {
			color: $success-color;
			&:before {
		    	content: '✔ ';  
				color: $success-color				
			}
		}
		&.dont {
			color: $error-color;
			&:before {
		    	content: 'X ';
				color: $error-color				
			}
		}
		&:before { 
    		margin-left: -20px;
    		width: 20px;
    		font-weight: bold;
    		display: inline-block;
		}
	}
}

#mei-content {
	background: #bdc3c7;
	padding-top: 50px;
	z-index: 2;
	position: relative;

	&>.container{
		background: #ecf0f1;
		padding: 20px 40px;
	}

	.intro{
		margin: 10px 0 50px 0;
		text-align: center;

		.page-header {
			border: none;
		}

		h1 {
			color: #2c3e50;
			text-shadow: -1px -1px 0 rgba(255,255,255,.5), 1px 1px 0 darken(#7f8c8d, 10%);
			text-transform: uppercase;
			letter-spacing: .1em;
			display: block;

			small {
				display: block;
				font-size: .5em;
				line-height: 2em;
			}
		}
		p {
			font-size: 16px;
			color: #7f8c8d;
		}
		.fa-book {color: #7f8c8d}
	}

	pre[class*="language-"] {padding: 0 1em}

	.show-grid {
		margin-bottom: 20px;
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			background-color: rgba(86, 61, 124, 0.15);
			border: 1px solid rgba(86, 61, 124, 0.2);
			padding: 10px 0;
			text-align: center;
		}
	}/*show-grid*/

	section {
		border-bottom: 1px solid #EEEEEE;
		padding-bottom: 20px;
		margin-bottom: 60px;
		&>h2 {
			color: #2c3e50;
			position: relative;
			display: block;
			&:before, &:after {
				content: ' ';
				position: absolute;
				width: 50px;
				height: 30px;
				z-index: -1;
				@include border-radius(2px);
			}
			&:after {
				background: #999999;
				transform: rotate(2deg);
				top: 5px;
				right: calc(100% + 20px);
			}
			&:before {
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
				transform: rotate(-5deg);
				top: 10px;
				right: calc(100% + 23px);
				box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
				-webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
				-o-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
			}
		}
	}

	footer.page-footer {
		margin-top: 50px;
		border-top: 1px solid #CCCCCC;
		padding: 20px 0;
		text-align: right;
	}

	#base-css {
		section > h2:after {
			background: #1abc9c;
		}
		&>h1 {color: #1abc9c}
	}
	#elementos-do-sistema {
		section > h2:after {
			background: #9b59b6;
		}
		&>h1 {color: #9b59b6}
	}


	.bb-alert {
		display: none;
	}
}/*mei-content*/



