/* OP - NATHALIA TUIA XAVIER */


/* LIST TABLE OPTIONS */
.table-options {
	margin-bottom: 20px;
	.btn {
		@include transition (all, .3s, ease-in-out);
		&.disabled {opacity: .5}
	}
	.btn-group .dropdown-toggle > .checkbox {margin: 0}
}

/* LIST TABLE ( despacho ) */
.list-table {
	position: relative;

	thead[data-spy="affix"] {
		background: #FFFFFF;
		z-index: 1000;
		top: 70px;
		& > tr { display: none;}
		&.affix {
			display: table-row;
			&>tr {display: table-row;}
		}

		&.affix>tr:last-child>th {
			&:nth-child(1) {width: 18%;}
			&:nth-child(2) {width: 3%;}
			&:nth-child(3) {width: 17%;}
			&:nth-child(4) {width: 3%;}
			&:nth-child(5) {width: 1%;}
			&:nth-child(6) {width: 1%;}
			&:nth-child(7) {width: 17%;}
			&:nth-child(8) {width: 3%;}
			&:nth-child(9) {width: 17%;}
			&:nth-child(10) {width: 1%;}
			&:nth-child(11) {width: 19%;}
		}
	}

	tbody > tr > td {

		padding: 0;
		text-align: center;

		&:nth-child(1) {width: 1%;}
		&:nth-child(2) {width: 17%;}
		&:nth-child(3) {width: 3%;}
		&:nth-child(4) {width: 17%;}
		&:nth-child(5) {width: 3%;}
		&:nth-child(6) {width: 1%;}
		&:nth-child(7) {width: 1%;}
		&:nth-child(8) {width: 17%;}
		&:nth-child(9) {width: 3%;}
		&:nth-child(10) {width: 17%;}
		&:nth-child(11) {width: 1%;}
		&:nth-child(12) {width: 19%;}

		.table-comment {
			padding: 8px;
			margin: 0;
			line-height: 1.2;
			font-style: italic;
			color: #999;
			text-align: left;
		}
	}

	.entity-card {

	    .entity-symbol {
	    	width: 60px;
	    	height: 60px;
	    	padding: 2px 5px;
	    	margin: 0;
	    	float: left;
	    	p {margin: 0; line-height: 1}
	    	&.dropdown-toggle {
	    		width: 58px;
	    		height: 58px;
	    		position: relative;
	    		top: -1px;
	    		right: -2px;
	    	}
	    }
	    .entity-card-data {
	    	width: calc(100% - 70px);
	    	text-align: left;
	    	.entity-title {
	    		font-weight: normal;
	    		color: #777777;
	    	}
	    }
	}
    thead {
    	tr:first-child {
    		th {
    			background: #EEEEEE;
    			color: #666666;
    			font-weight: 400;
    			font-size: 14px;
    			padding: 15px 10px;
    			border-bottom: none;
    		}
    	}
    	tr:last-child th {font-size: 10px; vertical-align: middle;
    			.active {font-weight: bold;}}
    }
    tbody tr {
    	transition: all .2s ease-in-out;
    	&:hover {
    		background: #EFFFBF;
    	}
    	/*td:last-child {
    		text-align: center;
    	}*/
    	&.options {
    		background: #e5e5e5;
    		display: none;
    		text-align: right;

    		&.open, &:hover {
    			display: table-row;
    		}

    		td {
    			padding: 2px 5px;
    			text-align: right;
    		}

    		a {
    			padding: 0 5px;
    			.fa {
    				color: #444;
    			}
    		}
    		.messages-btn {
    			position: relative;
    			.messages-length {
    				position: absolute;
    				color: $inverse-text;
    				width: 20px;
    				height: 10px;
    				font-size: 8px;
    				line-height: 1;
    				top: 5px;
    				left: 0;
    				text-align: center;
    			}
    		}
    		.message-status {
    			font-style: italic;
    			float: left;
    			font-size: 12px;
    			margin: 2px 0;
    		}
    	}
    	td {
    		vertical-align: middle;
			strong {color: #333}
    		.data {
    			height: 60px;
    		}
    		.data:before,.data:after {content:"";display:table;}
			.data:after {clear:both;}

    		.cell-text {
    			color: #666666;
    			display: block;
    			margin-top: 8px;
    		}
    		.cell-subtext {
    			display: block;
    			color: #999999;
    			font-size: .9em
    		}
    		small.cell-subtext {font-size: .8em}
    	}
    }
}






/* PAGINATION */
.pagination-nav {
	height: 40px;

	.pagination-content {
		float: right;
		.nav {
			margin: 0 30px 0 0;
			&:last-child {
				margin: 0;
			}
		}
		.navbar-nav > li > a {
			padding: 5px;
			color: #666;
			&:hover { background: transparent; text-decoration: underline;}
			&.disabled {
				color: #999999;
				cursor: not-allowed;
			}
		}
		.jump-to {
			text-transform: uppercase;
		}
		.dropdown-menu {
			max-height: 150px;
			overflow: auto;
		}
	}
}







/* ACTIONS NAVBAR */
#actions-navbar {
	background: #FFFFFF;
	border: 1px solid #d8d8d8;
	margin: 30px 0 20px;
	min-height: 40px;
	padding: 0;
	@include border-radius(0);
	
	.navbar-nav > li > a{
		padding: 13px;
		height: 48px;
		opacity: .6;
		&:hover {
			opacity: 1;
		}
		& > .fa { font-size: 22px;}
	}
	.filter-group > .btn {
		margin: 8px 0;
		height: 32px;
		padding: 0 10px;
		&.dropdown-toggle {padding: 0 5px; margin-left: -1px;}
	}
	.navbar-right {margin-right: 10px;}
	.navbar-title {
		width: auto;
		float: left;
		margin-right: 20px;
		h1 {
			margin: 0;
			padding: 10px;
			line-height: 1;
			font-size: 26px;		
		}
	}
	.alarm-pda-container {
		float: left;
		margin: 0 10px;
		.alarm-btn, .pda-btn {
			margin: 10px;
		}
	}
	.summary {
		text-transform: uppercase;
		font-size: 14px;
		text-align: right;
		color: #666666;
		float: left;
		margin: 4px 10px;
		.category {
			color: #999999;
		}
	}

	.refresh-btn-container {
		float: left;
		margin: 5px 0 5px 20px;
		.refresh-btn {
			font-size: 24px;
			color: #666666;
			.fa.fa-refresh {display: none;}
			&:hover {
				color: #333333;
				text-decoration: none;
				.fa.fa-refresh {display: inline;}
				.fa.fa-clock-o {display: none;}
			}
			&.finishing {
				color: red;
				&.remaining {color: #333333}
			}
		}
	}
}







/* RESEARCH CONTAINER */
.research-container {
	.row.bordered {
		&>.col-xs-1, &>.col-xs-2, &>.col-xs-3, &>.col-xs-4, &>.col-xs-5, &>.col-xs-6, &>.col-xs-7, &>.col-xs-8, &>.col-xs-9, &>.col-xs-10, &>.col-xs-11, &>.col-xs-12 {
			border-right: 1px solid #dddddd;
		}
		&>.col-xs-1:last-child, &>.col-xs-2:last-child, &>.col-xs-3:last-child, &>.col-xs-4:last-child, &>.col-xs-5:last-child, &>.col-xs-6:last-child, &>.col-xs-6:nth-child(2), &>.col-xs-7:last-child, &>.col-xs-8:last-child, &>.col-xs-9:last-child, &>.col-xs-10:last-child, &>.col-xs-11:last-child, &>.col-xs-12 {
			border-right: none
		}
	}
	h4 {
		text-align: center;
	}
}

p.research-found {
	margin: 0;
	font-size: 18px;
	color: #999;
	strong {
		color: #666;
	}
}








/* RESEARCH TABLE */
.research-table {
	&>tbody>tr>td, &>thead>tr>th {vertical-align: middle; padding: 0 8px; word-wrap: break-word;}
    thead {
    	tr {
    		th {
    			background: #EEEEEE;
    			color: #666666;
    			font-weight: 400;
    			font-size: 13px;
    			padding: 5px;
    			border-bottom: none;
    			vertical-align: middle;
    			text-align: center;
    		}
    	}
    	tr:last-child th {font-size: 11px;}
    }
    .entity-card {margin: 0 -8px}
}






/* SORTABLE (drag and drop) */
.sortable-container {
	background: rgba(255,255,255,.9);
	margin-right: 5px;
	float: left;
	border: 1px solid #CCC;
	height: 302px;
	width: 100%;

	header {
		padding: 10px;
		border-bottom: 1px solid #CCC;
		text-align: center;
		.sortable-title {
			text-transform: uppercase;
		}
	}
	.sortable-body {
		padding: 0 5px;

		.sortable-list {
			margin-bottom: 10px;
			.sortable-item {
				padding: 6px;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent; 
				&:hover {
					background: #FFFFBF;
					border-top: 1px solid #CCC;
					border-bottom: 1px solid #CCC; 
				}
				.sortable-handler {
					cursor: move;
				}
			}/*sortable-item*/
		}/*sortable-list*/
	}/*sortable-body*/
}/*sortable-container*/

.avaiable-items {
	width: 100%;
	float: none;
	.sortable-body {
		padding: 10px 0 0 10px;
		.typeahead-content {width: 100%;}
		.search-form {padding: 0 10px 0 0}
	}		
}

#associar-perfis {
	padding: 0 10px;
	.sortable-container {
		height: 170px;
	}
	.avaiable-items {
		.sortable-body .typeahead-content {height: 108px;}
	}
}

.sortable-columns-container {
	position: relative;

	.sortable-container {
		width: calc(20% - 5px);
		.sortable-column-options {
			text-align: right;
			padding: 5px;
			.btn .fa {
				color: #666;
			}
		}
		.add-column-btn {
			height: 100%;
			width: 100%;
			display: table;
			&:hover {
				text-decoration: none;
			}
			.center {
				display: table-cell;
				vertical-align: middle;
				white-space: normal;
				color: #999999;
				.fa {
					font-size: 52px;
					display: block;
					margin-bottom: 10px;
				}
				.text {
					font-size: 20px;
					line-height: 1.1
				}
			}
		}
	}
}





/* PÁG. CONSULTAR CLIENTE */
#consultar-cliente {
	&>.entity-card {
		.entity-title {
			max-width: calc(100% - 60px);
			padding-top: 10px
		}
	}
	.navbar {
		margin: 0
	}
	.form-box.auto {
		height: 245px;
		max-height: none;
	}
}






/* MODAL DE DESPACHO DE SERVIÇOS */
#despacho-modal-form {
	& > .form-box.well {
		margin-bottom: 0;
	}

	.team-item-container {
		.auto {
			max-height: 130px;
			height: auto;
		}

		.form-arrows {
			.form-group {
				margin-bottom: 0;
				label {
					display: block;
					position: relative;
					font-size: 10px;
					.fa {
						position: absolute;
						top: 3px;
						right: -5px;
					}
				}
				.form-control {padding-left: 3px; padding-right: 3px;}
			}
		}

		.team-form {
			background: #FFEFBF;
			.form-inline{
				padding: 10px;
				margin-bottom: 0;
				.dropdown {
					width: 140px;
				}
			}
		}

		.team-item{
			padding-left: 64px;
			width: calc(100% - 10px);
			.entity-symbol {
				position: absolute;
				left: 0;
				top: 0;
			}
			label {font-size: 9px}
			dl {
				margin: 5px 0;
				text-align: center;
				dt {font-size: 10px}
				dd {font-size: 12px;}
			}
			.editable-field-form { 
				margin: 5px 0;
				.form-actions {
					background: #f0f0f0;
					padding: 3px;
					margin-top: 3px;
				}
			}
		}
	}
}



/* FECHAMENTO DE SERVICOS (droppable list) */
.droppable-list {

	ol {
		list-style: none;
		counter-reset: section;
		padding: 0;

		li {
			background: #E7E7E7;
			margin: 12px 0;
			padding: 10px 10px 10px 50px;
			position: relative;
			line-height: 1em;
			min-height: 38px;
			height: auto;
			overflow: auto;
			@include border-radius(20px);

			&:before {
				counter-increment: section;
				content: counters(section,".") " ";
				background: #596D7B;
				color: #FFFFFF;
				font-weight: bold;
				width: 38px;
				height: 38px;
				padding: 12px;
				display: inline-block;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 0;
				margin: -20px 0;
				@include border-radius(25px);
			}

			&.two-level {
				background: transparent;
				padding: 0;
				margin: 0 0 0 20px;
				&:before {display: none;}
				ol li:first-child {
					margin-top: 0;
				}
			}

			&.disabled {
				background-color: #eee !important;
				&:before {
					background: #ddd;
				}
				a, .fa {
					color: #ccc; cursor: not-allowed;
					&:hover {color: #ccc;}
				}
			}

			&.active {
				background: lighten(#596D7B, 10%);
				a {
					color: #fff;
					&:hover {color:#e6e6e6}
				}
			}
			&:before {
				background: darken(#596D7B, 20%);
			}

			.before {display: none;}

			.fa {
				position: absolute;
				right: 15px;
				top: 50%;
				font-size: 24px;
				color: #596D7B;
				margin: -11px 0;
				cursor: pointer;
				&.fa-remove {display: none;}
				&:hover {color: darken(#596D7B, 20%)}
			}
			&:hover .fa-remove {
				display: inline-block;
				color: lighten(#596D7B, 40%);
				&:hover {color: lighten(#596D7B, 60%);}
			}

			.qtdade {
				float: right;
				margin-right: 85px;
				.form-control {
					margin: -5px 0;
				}
			}

			a {
				color: #666666;
				font-weight: 400;
				display: inline-block;
				padding-right: 26px;
				float: left;

				&:hover {
					color: #333333;
					text-decoration: none;
				}
			}
		}
	}/*droppable-list*/
}

/* ORDENADOR */
.ordenador {
	.dropdown-menu {
		padding: 10px;
		min-width: 290px;
		.form-inline {
			padding: 3px 0;
			margin-bottom: 1px solid #DDD;
		} 
	}
	.form-actions{
		background: #f0f0f0;
		margin: 10px -10px -10px;
		padding: 10px;
		text-align: right;
		margin-top: 1px solid #ccc;
	}
}