/* COISINHAS QUE SE REPETEM */

/* MIXINS */

@mixin opacity-transition {
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

@mixin border-box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
@mixin absolute-full {
	position: absolute;
	width: 100%;
	left: 0;
}


/* COMPONENTES REUTILIZÁVEIS */


html, body{
  height: 100%;
}
body {
	font-weight: lighter;
	min-height: 100%;
	position: relative;
	padding: 0;
}
.hidden-content {display: none}


/* Helper para páginas com altura fixa */

body.fixed-height {
	#footer {
	@include absolute-full;
	bottom: 0;
	}

	.navbar {
		@media (min-width: $screen-lg-min) {
			margin: 0;
		}
	}
}


/* links */

a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}

/* tipografia */
h4 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
p {
	@media (min-width: $screen-lg-min) {
	font-size: 1.2em;
	}
	font-size: 1em;
	line-height: 1.55em;
	margin-bottom: 1.2em
}
.txt-container {
	padding: 2em 4em;
}


/* navbar */

.navbar {
	border: none;

	.navbar-brand {
		height: 72px;
		margin-top: -2px;
	}

	.navbar-nav {

		li > a {
			font-weight: 700;
		}

		li > a:hover {
			text-decoration: underline;
		}

	}
	.navbar-nav > li > a {
		padding-top: 35px;
	}
	form {
		margin: 18px 0;
	}
}


/* footer */

#footer {
	background: $background-color;
	text-transform: uppercase;
	font-size: 10px;

	@media (min-width: $screen-lg-min) {
		@include border-box;
		height: 50px;
		overflow: hidden;
	}

	h4 {
		margin-bottom: .2em
	}

	.social-links {
		a {
			font-weight: 700;
			padding: 15px 10px;
			display: inline-block;
		}
	}
}


/* carousel */

.carousel {

	background: $background-color;
	overflow: hidden;

	@media (min-width: $screen-lg-min) {
		height: calc(100% - 120px);
	}

	.item {
		@include opacity-transition;
		opacity:0;

		img {
			width: 100%;
		}
	}

	.item.active {
		opacity: 1;
	}

	.active.left, .active.right {
		left: 0;
		z-index: 2;
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.next, .prev {
		left: 0;
		z-index: 1
	}

	.carousel-control {
		z-index: 3
	}

}